.navigation-menu{
    width: 100%;
    display: inline-flex;
    background-color:rgba(255, 255, 255, 0.575);
    justify-content: flex-end;
    text-align: right;
    height: 15vh;
    flex-direction: row;

}

.menu{
    justify-content: flex-end;
    display: inline-flex;
    /* line-height: 4.375rem; */
    flex-direction: row;
    box-shadow: 0 2px 2px #c9ffe76e
}

.menu-buttons {
    display: inline-block;
}

.menu .menu-buttons a{
    text-decoration: none;
    color: black;
    
}

.button{
    display: inline-block;
    background-color:rgba(255, 255, 255, 0.575);
    height: 1.875rem;
    padding: 0.4375rem 0.75rem;
    margin: 1.5625rem 0.625rem;
    font-family: Rainray-demo;
    border-radius: 4px;
    
}

.button:hover{
    background-color: #a8fad5b4;
    transition: 2s;
}

label{
    display: none;
    line-height: 4.375rem;
}

#toggle{
    display: none;
}

/*Comienzo de los media queries*/ 

@media only screen and (max-width: 500px) {
    label{
        display:block; 
        cursor: pointer;
        width: 26px;
        
        
    }

    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu-buttons{
    
    text-align: center;
    width: 100%;
    display: block;
    border-bottom: solid 2px #6dffbde7;
    }

    .menu .menu-buttons a{
        display: block;
        border-bottom: solid 2px #6dffbde7;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: block;
    }

    .menu-buttons a:hover{
        background-color: #a8fad5b4;
        transition: 1s;
    }
    
    .button:hover{
        background-color:transparent ;
        transition: 1s;
    }
    
    
}