/*Estilo general poyectos*/


.projects-section{
    background-image: url(../imagenes/Sample\ Oil\ and\ Water\ Wallpaper\ in\ Metallic\ Pearl\ from\ the\ Casa\ Blanca\ II\ Collection\ by\ Seabrook\ Wallcoverings.jpg);
    background-repeat: repeat;
    width: 100%;
    text-align: center;
}


.cardp-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15%;
    border-bottom: none;
    margin-top: 5%;
    margin-bottom: 0;
}


/*estilos de tarjetas*/
.card-image{
    max-height: 200px;
    max-width:  200px;
}

.cardp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    margin: 10px;
    background-color: var(--white-color);
    border-radius: 25px;
    border:solid 1px var(--dark-gray-color);
    
}

.cardp:hover {
    background-color: var(--tpink-color);
    transition: 1.5s;
    font-size: 35px;
}

.project-title{
    font-family: Rainray-demo;
    text-decoration: none;
    
}


/*Inicio estilos titulo y subtitulo*/

.projects-title{
    font-family: Glamori;
    color:black;
    font-size: 5rem;
    
}

.projects-title:hover{
    color:var(--tpurple-color)
}

.projects-description{
    font-family: Orange-type;
    font-size: 2rem;
    color: black;
}



/*Inicio medias*/

@media(min-width:280px) and (max-width:900px){

    .cardp-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 ;
        border-bottom: none;
        margin-top: 5%;
        margin-bottom: 0;
        flex-direction: row;
    }

    .card-image{
        max-height: 5.625rem;
        max-width:  5.625rem;
    }

    .cardp {
        width: 8.375rem;
        height: 8.375rem;
       
        
    }

    .projects-title{
        font-family: Glamori;
        color:black;
        font-size: 3.5rem;
        
    }
    
    .projects-description{
        font-family: Orange-type;
        font-size: 1rem;
        color: black;
    }

}

/* FIN ESTILOS SECCION PROYECTOS */